# Santander Product Recommendation

### 풀이 과정:

- 데이터 먼저 살펴보기: matplotlib, pd.read 등을 사용
- 데이터의 무결성: null 값 등을 살펴봄
- 데이터 correlation, 평균값, 중앙값을 이용해서 feature extraction 기본을 먼저 진행한다
-

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib as mpl
import matplotlib.pylab as plt

In [3]:
!pwd

/Users/jaisukrho/personal/kaggle/workspace

In [4]:
data = pd.read_csv('../datasets/train_ver2.csv')
data.head()

/Users/jaisukrho/.local/share/virtualenvs/kaggle-BviVThKc/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [6]:
import seaborn

In [4]:
data.shape[0]

13647309

In [5]:
data.shape[1]

48

In [12]:
data.count()

fecha_dato               13647309
ncodpers                 13647309
ind_empleado             13619575
pais_residencia          13619575
sexo                     13619505
age                      13647309
fecha_alta               13619575
ind_nuevo                13619575
antiguedad               13647309
indrel                   13619575
ult_fec_cli_1t              24793
indrel_1mes              13497528
tiprel_1mes              13497528
indresi                  13619575
indext                   13619575
conyuemp                     1808
canal_entrada            13461183
indfall                  13619575
tipodom                  13619574
cod_prov                 13553718
nomprov                  13553718
ind_actividad_cliente    13619575
renta                    10852934
segmento                 13457941
ind_ahor_fin_ult1        13647309
ind_aval_fin_ult1        13647309
ind_cco_fin_ult1         13647309
ind_cder_fin_ult1        13647309
ind_cno_fin_ult1         13647309
ind_ctju_fin_ult1        13647309
ind_ctma_fin_ult1        13647309
ind_ctop_fin_ult1        13647309
ind_ctpp_fin_ult1        13647309
ind_deco_fin_ult1        13647309
ind_deme_fin_ult1        13647309
ind_dela_fin_ult1        13647309
ind_ecue_fin_ult1        13647309
ind_fond_fin_ult1        13647309
ind_hip_fin_ult1         13647309
ind_plan_fin_ult1        13647309
ind_pres_fin_ult1        13647309
ind_reca_fin_ult1        13647309
ind_tjcr_fin_ult1        13647309
ind_valo_fin_ult1        13647309
ind_viv_fin_ult1         13647309
ind_nomina_ult1          13631246
ind_nom_pens_ult1        13631246
ind_recibo_ult1          13647309
dtype: int64

In [6]:
len(data)

13647309

In [7]:
len(data) - data.count()

fecha_dato                      0
ncodpers                        0
ind_empleado                27734
pais_residencia             27734
sexo                        27804
age                             0
fecha_alta                  27734
ind_nuevo                   27734
antiguedad                      0
indrel                      27734
ult_fec_cli_1t           13622516
indrel_1mes                149781
tiprel_1mes                149781
indresi                     27734
indext                      27734
conyuemp                 13645501
canal_entrada              186126
indfall                     27734
tipodom                     27735
cod_prov                    93591
nomprov                     93591
ind_actividad_cliente       27734
renta                     2794375
segmento                   189368
ind_ahor_fin_ult1               0
ind_aval_fin_ult1               0
ind_cco_fin_ult1                0
ind_cder_fin_ult1               0
ind_cno_fin_ult1                0
ind_ctju_fin_ult1               0
ind_ctma_fin_ult1               0
ind_ctop_fin_ult1               0
ind_ctpp_fin_ult1               0
ind_deco_fin_ult1               0
ind_deme_fin_ult1               0
ind_dela_fin_ult1               0
ind_ecue_fin_ult1               0
ind_fond_fin_ult1               0
ind_hip_fin_ult1                0
ind_plan_fin_ult1               0
ind_pres_fin_ult1               0
ind_reca_fin_ult1               0
ind_tjcr_fin_ult1               0
ind_valo_fin_ult1               0
ind_viv_fin_ult1                0
ind_nomina_ult1             16063
ind_nom_pens_ult1           16063
ind_recibo_ult1                 0
dtype: int64

In [8]:
data.isnull().sum()

fecha_dato                      0
ncodpers                        0
ind_empleado                27734
pais_residencia             27734
sexo                        27804
age                             0
fecha_alta                  27734
ind_nuevo                   27734
antiguedad                      0
indrel                      27734
ult_fec_cli_1t           13622516
indrel_1mes                149781
tiprel_1mes                149781
indresi                     27734
indext                      27734
conyuemp                 13645501
canal_entrada              186126
indfall                     27734
tipodom                     27735
cod_prov                    93591
nomprov                     93591
ind_actividad_cliente       27734
renta                     2794375
segmento                   189368
ind_ahor_fin_ult1               0
ind_aval_fin_ult1               0
ind_cco_fin_ult1                0
ind_cder_fin_ult1               0
ind_cno_fin_ult1                0
ind_ctju_fin_ult1               0
ind_ctma_fin_ult1               0
ind_ctop_fin_ult1               0
ind_ctpp_fin_ult1               0
ind_deco_fin_ult1               0
ind_deme_fin_ult1               0
ind_dela_fin_ult1               0
ind_ecue_fin_ult1               0
ind_fond_fin_ult1               0
ind_hip_fin_ult1                0
ind_plan_fin_ult1               0
ind_pres_fin_ult1               0
ind_reca_fin_ult1               0
ind_tjcr_fin_ult1               0
ind_valo_fin_ult1               0
ind_viv_fin_ult1                0
ind_nomina_ult1             16063
ind_nom_pens_ult1           16063
ind_recibo_ult1                 0
dtype: int64